@import 'utils/variables';
@import 'utils/mixins';
@import 'pages/home';
@import 'pages/restaurant';

@include desktop-only {
    .how-it-works {
        display: flex;
        flex: row wrap;
        width: 100%
    }

    .restaurants {
        display: flex;
        flex-direction: row;
    }

    .icon-circle {
        position: relative;
        left: 50px;
    }
}
