
/* LOCATION */
.location {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: none;
    gap: 15px;
}

.dot {
    color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    height: 50px;
}

