.body {
    animation: myspinner;
    animation-duration: 3s;
}

.spinner-container{
    background-color: $background-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flexcenter;
    z-index: 1000;
    height: 100%;
    width: 100%;
    opacity: 1;
    animation: hidden 0s 3s forwards;
}

.spinner {
    border: 16px dashed $third-color; 
    border-top: 16px dashed green; 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 3s linear 2;
}

/* LOCATION */
.location {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: none;
    gap: 15px;
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);

    @include desktop-only {
        box-shadow: none;
    }
}

.dot {
    @include flexcenter;
    color: #353535;
    width: 4%;
    height: 50px;
}

/* BOOK YOUR MEAL */
h1 {
    font-weight: 1000;
}

.explore {
    background-color: $background-color;
    @include flexcenter;
    flex-direction: column;
    border-style: none;
    padding: 10px 0px 30px 0px;

    &__title {
        font-size: 24px;
        font-weight: 500;

        @include desktop-only{
            font-size: 42px;
            font-weight: 500;
        }
    }

    &__text {
        font-size: 20px;
        text-align: center;
        font-weight: 100;
    }
}

/* HOW IT WORKS */
.how-it-works {
    margin: 30px 10px;

    &__title {
        display: flex;
        flex-direction: column;
        font-size: 28px;

        @include desktop-only {
            margin-left: 290px;
        }
    }
}

ol {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 30px;

    @include desktop-only {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        // margin-left: 100px;
    }
}


ol>li {
    display: flex;
    position: relative;
    border-radius: 20px;
    align-items: center;
    background-color: #F2F2F2;
    padding: 10px 30px;
    gap: 40px;
    width: 260px;
    height: 60px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

    @include desktop-only{
        width: 340px;
        height: 60px;
        @include flexcenter;
    }
}

.icon {
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15px;
}

.icon-circle {
    color: white;
    @include flexcenter;
    background-color: $main-color;
    position: absolute;
    left: -15px;
    width: 0.70rem;
    height: 0.70rem;
    padding: 0.70rem;
    border-radius: 50%;
}

.icon-color {
    color: $main-color;
}

.fa-solid {
    font-size: 24px;
}

ol>.how-it-works {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $main-color;
    border-radius: 30%;
}

li p {
    font-size: 18px;
    font-weight: 500;

    @include desktop-only{
        font-size: 20px;
    }
}

/* RESTAURANT CARDS */
.restaurants {
    width: 100%;
    background-color: $background-color;
    padding-top: 30px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;

    @include desktop-only {
        box-sizing: border-box;
        padding: 100px;
    }

    &__title {
        margin-left: 20px;
        font-size: 28px;
    
        @include desktop-only {
            margin-left: 200px;
        }
    }
}

.cards {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    gap: 15px;

    @include desktop-only {
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        gap: 60px;
    }
}

.card {
    display: block;
    padding-top: 0;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 320px;
    height: 225px;
    text-decoration: none;
    color: #353535;
    position: relative;

    @include desktop-only {
        width: 620px;
        height: 300px;
    }

    &__image {
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;

        @include desktop-only {
            height: 200px;
        }

        &__body {
            display: flex;
            flex-direction: column;
            margin: 20px;

            @include desktop-only {
                width: fit-content;
                margin: 15px;
            }
        }
    }
}

.card__body h3 {
    margin: 10px 15px;
    font-size: 22px;
}

.card__body p {
    margin: 0px 10px 15px 15px;
    font-size: 22px;
    font-weight: 100;
}

.heart {
    position: absolute;
    width: 60px;
    height: 20px;
    right: -30px;
    bottom: 40px;
    padding-right: 15px;
    font-size: 24px;
    border-width: 1px;

    &__empty {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__full {
        position: absolute;
        left: -15px;
        top: 0;
        padding-left: 15px;
        background-image: linear-gradient($second-color, $main-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: opacity 500ms cubic-bezier(.17,.67,.83,.67);

        &:hover {
            opacity: 1;
        }
    }
}


.new {
    position: absolute;
    text-align: center;
    left: 230px;
    bottom: 165px;
    width: 40px;
    padding: 10px 20px;
    border-style: none;
    border-radius: 2px;
    background-color: $third-color;
    color: green;

    @include desktop-only {
        left: 520px;
        bottom: 230px;
    }
}
