* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
.explore-button {
  padding: 15px 25px;
  border-radius: 70px;
  border-style: none;
  text-decoration: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.explore-button:hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: "Shrikhand", serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.logo__image {
  width: 200px;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer h2 {
  font-family: "Shrikhand", serif;
  margin-left: 40px;
  line-height: 15px;
  padding-top: 15px;
}
@media screen and (min-width: 992px) {
  footer h2 {
    position: absolute;
    right: 25px;
    padding: 50px;
  }
}

footer ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  footer ul {
    flex-direction: row;
    margin-top: 60px;
    padding-left: 400px;
  }
}

footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 4px;
  gap: 10px;
  margin: 0;
}
@media screen and (min-width: 992px) {
  footer li {
    gap: 10px;
    padding-right: 20px;
  }
}

/* LOCATION */
.location {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: none;
  gap: 15px;
  box-shadow: 0px -3px 3px 0px #ccc;
}

.dot {
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
  height: 50px;
}

/* BOOK YOUR MEAL */
h1 {
  font-weight: 1000;
}

.explore {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: none;
  padding: 10px 0px 30px 0px;
}
.explore__title {
  font-size: 26px;
  font-weight: 500;
}
.explore__text {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}

/* HOW IT WORKS */
.how-it-works {
  margin: 50px 10px;
}
.how-it-works__title {
  display: flex;
  flex-direction: column;
}

ol {
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media screen and (min-width: 992px) {
  ol {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 40px;
  }
}

ol > li {
  display: flex;
  position: relative;
  border-radius: 20px;
  align-items: center;
  background-color: #F2F2F2;
  padding: 10px 30px;
  gap: 30px;
  width: 250px;
  height: 60px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.icon {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15px;
}

.icon-circle {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  position: absolute;
  left: -15px;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.icon-color {
  color: #9356DC;
}

ol > .how-it-works {
  display: inline-block;
  padding: 5px;
  color: #F6F6F6;
  background-color: #9356DC;
  border-radius: 30%;
}

/* RESTAURANT CARDS */
.restaurants {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 30px;
  margin-top: 70px;
}

.restaurants h2 {
  margin-left: 20px;
}

.cards {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  gap: 15px;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.card {
  display: block;
  padding-top: 0;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 300px;
  height: 225px;
  text-decoration: none;
  color: #353535;
  flex: 1;
  position: relative;
}
.card__image {
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.card__image__body {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.card__body h3 {
  margin: 10px 15px;
}

.card__body p {
  margin: 0px 10px 15px 15px;
  font-weight: 100;
}

.heart {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 40px;
  padding-right: 15px;
}
.heart__empty {
  position: absolute;
  left: 0;
  top: 0;
}
.heart__full {
  position: absolute;
  left: -15px;
  top: 0;
  padding-left: 15px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

.heart:hover + .heart__full {
  transform: scaleX(2);
  opacity: 1;
}

.heart__full {
  transition: transform 2000ms ease-in;
}

.new {
  position: absolute;
  left: 200px;
  bottom: 155px;
  width: 40px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 2px;
  background-color: #99E2D0;
  color: green;
}

/*# sourceMappingURL=main.css.map */
