@keyframes transitionIn {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleY(0.18);
  }
  24% {
    transform: scaleY(0.4);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    transform: scaleY(0.81);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes clickSelect {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}
@keyframes movePrice {
  from {
    right: 20px;
  }
  to {
    right: 60px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.explore-button {
  padding: 15px 25px;
  border-radius: 70px;
  border-style: none;
  text-decoration: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.explore-button:hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.order-button {
  margin: 20px 10px;
  padding: 15px 25px;
  border-radius: 70px;
  border-style: none;
  text-decoration: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  height: 20px;
  width: 130px;
  display: flex;
  justify-content: center;
}
.order-button:hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: "Shrikhand", serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.logo__image {
  width: 200px;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer h2 {
  font-family: "Shrikhand", serif;
  font-size: 20px;
  margin-left: 40px;
  line-height: 15px;
  padding-top: 15px;
}
@media screen and (min-width: 992px) {
  footer h2 {
    position: absolute;
    right: 25px;
    padding: 50px;
  }
}

footer ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  footer ul {
    flex-direction: row;
    margin-top: 60px;
    padding-left: 600px;
  }
}

footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 4px;
  gap: 10px;
  margin: 0;
}
@media screen and (min-width: 992px) {
  footer li {
    gap: 10px;
    padding-right: 20px;
  }
}

.kitchen-icon {
  height: 16px;
  width: 10px;
  padding-right: 5px;
}

footer a {
  text-decoration: none;
  color: white;
}

.loader {
  border: 16px solid #F6F6F6;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.back:active + .loader::after {
  display: block;
  animation: spin 2s linear infinite;
}

/* LOCATION */
.location {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: none;
  gap: 15px;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 992px) {
  .location {
    box-shadow: none;
  }
}

.dot {
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
  height: 50px;
}

/* BOOK YOUR MEAL */
h1 {
  font-weight: 1000;
}

.explore {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: none;
  padding: 10px 0px 30px 0px;
}
.explore__title {
  font-size: 26px;
  font-weight: 500;
}
.explore__text {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}

/* HOW IT WORKS */
.how-it-works {
  margin: 30px 10px;
}
.how-it-works__title {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .how-it-works__title {
    margin-left: 100px;
  }
}

ol {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 15px;
}
@media screen and (min-width: 992px) {
  ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

ol > li {
  display: flex;
  position: relative;
  border-radius: 20px;
  align-items: center;
  background-color: #F2F2F2;
  padding: 10px 30px;
  gap: 30px;
  width: 250px;
  height: 60px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.icon {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15px;
}

.icon-circle {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  position: absolute;
  left: -15px;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.icon-color {
  color: #9356DC;
}

ol > .how-it-works {
  display: inline-block;
  padding: 5px;
  color: #F6F6F6;
  background-color: #9356DC;
  border-radius: 30%;
}

/* RESTAURANT CARDS */
.restaurants {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 30px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .restaurants {
    box-sizing: border-box;
    padding-left: 100px;
  }
}

.restaurants h2 {
  margin-left: 20px;
}

.cards {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  gap: 15px;
}
@media screen and (min-width: 992px) {
  .cards {
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    gap: 50px;
  }
}

.card {
  display: block;
  padding-top: 0;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 300px;
  height: 225px;
  text-decoration: none;
  color: #353535;
  position: relative;
}
@media screen and (min-width: 992px) {
  .card {
    width: 500px;
  }
}
.card__image {
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.card__image__body {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
@media screen and (min-width: 992px) {
  .card__image__body {
    width: fit-content;
  }
}

.card__body h3 {
  margin: 10px 15px;
}

.card__body p {
  margin: 0px 10px 15px 15px;
  font-weight: 100;
}

.heart {
  position: absolute;
  width: 60px;
  height: 20px;
  right: -30px;
  bottom: 40px;
  padding-right: 15px;
  font-size: 24px;
  border-width: 1px;
}
.heart__empty {
  position: absolute;
  left: 0;
  top: 0;
}
.heart__full {
  position: absolute;
  left: -15px;
  top: 0;
  padding-left: 15px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.heart__full:hover {
  opacity: 1;
}

.new {
  position: absolute;
  text-align: center;
  left: 200px;
  bottom: 155px;
  width: 40px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 2px;
  background-color: #99E2D0;
  color: green;
}
@media screen and (min-width: 992px) {
  .new {
    left: 400px;
  }
}

.back {
  position: relative;
  right: 50px;
  top: 10px;
  font-size: 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.heart-heading {
  position: relative;
  font-size: 26px;
  border-width: 1px;
}
.heart-heading__empty {
  position: absolute;
  left: 0;
  top: 0;
}
.heart-heading__full {
  position: absolute;
  left: -15px;
  top: 0;
  padding-left: 15px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.heart-heading__full:hover {
  opacity: 1;
}

.menu-and-blank {
  position: relative;
  top: -50px;
}
@media screen and (min-width: 992px) {
  .menu-and-blank {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
}

.menu__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  inset: 4px 8px;
}

.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .menu {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}
.menu__title {
  font-family: "Shrikhand", serif;
  font-size: 26px;
  margin: 0;
}
@media screen and (min-width: 992px) {
  .menu__title {
    display: flex;
    justify-content: center;
  }
}

.courses {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category:nth-child(1) {
  animation: transitionIn 500ms 100ms;
}

.category:nth-child(2) {
  animation: transitionIn 1500ms 200ms;
}

.category:nth-child(3) {
  animation: transitionIn 2000ms 300ms;
}

.category__title {
  text-transform: uppercase;
  font-weight: 200;
  margin-left: 10px;
  padding-bottom: 5px;
  position: relative;
  right: 140px;
}
@media screen and (min-width: 992px) {
  .category__title {
    right: 210px;
  }
}
.category__title:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 1px;
  bottom: -5px;
  border-bottom: 3px solid #99E2D0;
}

.item {
  margin-bottom: 20px;
  display: flex;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  text-decoration: none;
  color: #353535;
  margin: 10px;
  position: relative;
  width: 90%;
  height: 70px;
  flex-wrap: wrap;
  justify-content: start;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .item {
    width: 500px;
  }
}
.item__text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.item__title {
  font-weight: 600;
  margin: 0;
}
.item__content {
  font-weight: 200;
  line-height: 0;
}
.item__price {
  font-weight: 500;
  position: absolute;
  right: 20px;
  top: 30px;
  padding: 10px;
}
.item .selection {
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: absolute;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  opacity: 0;
}
.item .selection__mark {
  color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.item:hover .item__price {
  animation: movePrice 1s forwards;
}

.item:hover .selection {
  animation: clickSelect 1s forwards;
  opacity: 1;
}

.order {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=pages.css.map */
