footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop-only{
        justify-content: flex-start;
        flex-direction: row-reverse;
        padding-right: 30px;
    }
}

footer h2 {
    font-family: "Shrikhand", serif;
    font-size: 20px;
    margin-left: 40px;
    line-height: 15px;
    padding-top: 15px;

    @include desktop-only {
        margin-top: 50px;
        margin-left: 40px;
        line-height: 50px;
    }
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 20px;

    @include desktop-only {
        flex-direction: row;
        margin-top: 60px;
    }
}

.footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 3px;

    @include desktop-only {
        gap: 10px;
        margin-right: 70px;
        line-height: 4px;
    }
}

.footer-list a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    color: white;

    @include desktop-only{
        line-height: 7px;
    }
}

.fa-utensils {
    padding-left: 5px;
}

.kitchen-icon{
    font-size: 16px;
    padding-right: 5px;

    @include desktop-only {
        height: 2px;
        line-height: 2px;
        font-size: 16px;
    }
}

