footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer h2 {
    font-family: "Shrikhand", serif;
    font-size: 20px;
    margin-left: 40px;
    line-height: 15px;
    padding-top: 15px;

    @include desktop-only {
        position: absolute;
        right: 25px;
        padding: 50px;
    }
}

footer ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;

    @include desktop-only {
        flex-direction: row;
        margin-top: 60px;
        padding-left: 600px;
    }
}

footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 4px;
    gap: 10px;
    margin: 0;

    @include desktop-only {
        gap: 10px;
        padding-right: 20px;
    }
}

.kitchen-icon{
    height: 16px;
    width: 10px;
    padding-right: 5px;
}
