footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer h2 {
    font-family: "Shrikhand", serif;
    margin-left: 40px;
    line-height: 15px;
    padding-top: 15px;
}

footer ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
}

footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 4px;
    gap: 10px;
    margin: 0;
}